:root {
  --deepblue: #050e18;
  --blue: #455d7a;
  --red: #f95959;
  --white: #e3e3e3;
}

.NewsSlider {
  display: grid;
  height: 35vw;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 10px; */
  grid-auto-rows: minmax(100px, auto);
  /* grid-auto-columns: minmax(100px, auto); */
  grid-gap: 1px;
}

/* Separaciones del grid */

.NewsSlider img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.MainNew {
  grid-column: 1/4;
  grid-row: 1/3;
  position: relative;
}

.New2 {
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
}

.New3 {
  position: relative;
  overflow: hidden;
  grid-column: 5/6;
  grid-row: 1/2;
}

.New4 {
  position: relative;
  overflow: hidden;
  grid-column: 4/5;
  grid-row: 2/3;
}

.New5 {
  position: relative;
  overflow: hidden;
  grid-column: 5/6;
  grid-row: 2/3;
}

/* Configuración del fondo y objetos dentro de las imágenes */

.Fondo {
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #333333);
  width: 100%;
  height: 100%;
  top: 0;
}

.Titulo {
  display: block;
  z-index: 3;
  color: white;
  width: 100%;
  /* height: auto; */
  /* bottom: 10%; */
  left: 5%;
  font-size: 1rem;
  /* border: 1px red solid; */
}

.Metadatos {
  width: 90%;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  color: white;
  bottom: 10%;
  left: 5%;
  font-size: 0.5rem;
  /* border: 1px red solid; */
}

.MainNew .Titulo {
  font-size: 1.75rem;

  /* background-color: antiquewhite; */
}

.MainNew .Metadatos {
  font-size: 0.75rem;

  /* background-color: antiquewhite; */
}

.CategoryDate {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
}

.Category {
  max-width: 85%;
  overflow: hidden;
  font-weight: 600;
  /* border: 1px blue solid; */
  padding: 0 0.25rem;
  background-color: var(--red);
  color: var(--deepblue);
  word-wrap: break-word;
}

.Date {
  font-weight: 300;
}

.limitar-caracter {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.limitar-caracter-categoria {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1024px) {
  .Metadatos {
    font-size: 0.8vw;
    /* border: 1px red solid; */
  }
  .Titulo {
    font-size: 1.4vw;
    /* border: 1px red solid; */
  }
}

@media screen and (max-width: 750px) {
  /* your font  style goes here */

  .NewsSlider {
    display: block;
    height: 450px;
  }
  /* .MainNew {
  } */

  .New2,
  .New3,
  .New4,
  .New5 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .NewsSlider {
    display: block;
    height: 450px;
  }
  /* .MainNew {
  } */

  .New2,
  .New3,
  .New4,
  .New5 {
    display: none;
  }

  .MainNew .Titulo {
    font-size: 5vw;

    /* background-color: antiquewhite; */
  }

  .MainNew .Metadatos {
    font-size: 2vw;
  }
}
